doctype html
html
  head
    title Napada훾eva stranica
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1 Napada훾eva stranica
    p Primljen 탑rtvin cookie: #{cookie}
    button(onclick="window.location.href='/'") Po훾etna stranica
