doctype html
html
  head
    title Threat Test
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    section#sensitive
      h1 Nesigurna pohrana osjetljivih podataka
      b Upute: 
      span Ovo je primjer ranjivosti u kojem se osjetljivi podaci pohranjuju u bazu podataka bez ikakvog oblika enkripcije. Simuliramo prijavu na neku web aplikaciju u kojoj moramo ostaviti svoje podatke, uključujući privatni e-mail, broj mobitela i zaporku koji se mogu zloupotrijebiti. Nakon slanja zahtjeva, prikazati će se uneseni korisnik kako je zapisan u bazi podataka.
      form(onsubmit="sensitive(); return false;")
        span
          label(for='sensitive-checkbox') Ranjivost uključena
          input(type='checkbox', id='sensitive-checkbox', name='sensitive-checkbox') 
        label(for='sensitive-name') Ime:
        input(type='text', id='sensitive-name', name='sensitive-name', required)
        label(for='sensitive-email') Email:
        input(type='email', id='sensitive-email', name='sensitive-email', required)
        label(for='sensitive-phonenumber') Broj mobitela:
        input(type='number', id='sensitive-phonenumber', name='sensitive-phonenumber', required, style='appearance: textfield;')
        label(for='sensitive-password') Zaporka:
        input(type='password', id='sensitive-password', name='sensitive-password', required, placeholder='Minimalno 8 znakova', minlength='8', )
        input(type='submit', value='Registriraj')
        p(id='response-message-sensitive')
        table(id='response-table-sensitive')

    section#xss
      h1 XSS napad (reflektirani)
      b Upute: 
      span Ovo je primjer ranjivosti koji omogućuje slanje podataka napadača u preglednik korisnika kako bih mogao dobiti korisničke podatke kao što su session ID, zaporke, itd. Konkretno, reflektirani XSS napad se izvršava phishingom i slanjem linka žrtvi. Kada žrtva klikne na URI, XSS payload se izvršava i šalje podatke napadaču. U ovom slučaju, payload je skripta koja šalje cookie napadaču. Nakon slanja zahtjeva za registraciju na nekoj simuliranoj web stranici, šalje se mail za potvrdu registracije (također simuliran) u kojem se nalazi maliciozni URI. Kada koristnik klikne na link, XSS payload se izvršava i šalje cookie napadaču, a korisniku se učita normalna stranica i nije svjestan da je napadač upravo doznao njegov Session ID.
      form(onsubmit="xss(); return false;")
        span
          label(for='xss-checkbox') Ranjivost uključena
          input(type='checkbox', id='xss-checkbox', name='xss-checkbox')
        label(for='xss-name') Ime:
        input(type='text', id='xss-name', name='xss-name', required)
        label(for='xss-email') Email:
        input(type='email', id='xss-email', name='xss-email', required)
        label(for='xss-phonenumber') Broj mobitela:
        input(type='number', id='xss-phonenumber', name='xss-phonenumber', required, style='appearance: textfield;')
        label(for='xss-password') Zaporka:
        input(type='password', id='xss-password', name='xss-password', required, placeholder='Minimalno 8 znakova', minlength='8', )
        input(type='submit', value='Registriraj')
        p(id='response-message-xss')

script.
  function sensitive() {
    const checkbox = document.getElementById("sensitive-checkbox");
    const name = document.getElementById("sensitive-name");
    const email = document.getElementById("sensitive-email");
    const phonenumber = document.getElementById("sensitive-phonenumber");
    const password = document.getElementById("sensitive-password");

    fetch(`/submit/sensitive`, {
      method: "POST",
      body: JSON.stringify({
        checkbox: checkbox.checked,
        name: name.value,
        email: email.value,
        phonenumber: phonenumber.value,
        password: password.value
      }),
      headers: { "Content-type": "application/json" },
    })
      .then((res) => {
        return res.json();
      })
      .then((data) => {
        const responseTable = document.getElementById("response-table-sensitive");

        let table = responseTable.querySelector('table');
        if (!table) {
          table = document.createElement('table');
          table.classList.add('table');

          const headerRow = table.insertRow(0);
          const headers = ['id', 'name', 'email', 'phone number', 'password'];

          headers.forEach((headerText) => {
            const headerCell = document.createElement('th');
            headerCell.textContent = headerText;
            headerRow.appendChild(headerCell);
          });

          responseTable.appendChild(table);
        }

        const newRow = table.insertRow(-1); // -1 appenda red na kraj
        const userData = [data.users.id, data.users.name, data.users.mail, data.users.phonenumber, data.users.password];

        userData.forEach((cellData) => {
          const cell = newRow.insertCell();
          cell.textContent = cellData;
        });

        const responseMessage = document.getElementById("response-message-sensitive");
        if(checkbox.checked)
          responseMessage.innerHTML = "Odabrali ste ranjivi način rada. Podaci koji bi trebali biti zaštićeni su sada u plaintext formatu i predstavljaju ranjivost. Ako netko dođe do baze podataka, može doći do svih podataka, zloupotrijebiti ih i predstavljati se kao netko drugi.<br>Unesite podatke u formu u zaštićenom načinu rada i usporedite rezultate u bazi podataka ispisanoj ispod."
        else
          responseMessage.innerHTML = "Odabrali ste zaštićeni način rada. Svi podaci koji bi trebali biti zaštićeni su zaštićeni. Ako netko dođe do baze podataka, ne može doći do podataka u plaintext formatu. Zaštita se napravila hashiranjem putem alata bcrypt i lako možemo provjeriti je li korisnik unio ispravne podatke pri eventualnoj prijavi.<br>Unesite podatke u formu u ranjivom načinu rada i usporedite rezultate u bazi podataka ispisanoj ispod."

        checkbox.checked = false;
        name.value = "";
        email.value = "";
        phonenumber.value = "";
        password.value = "";
      })

      .catch((error) => {
        console.log("There was an error: ", error);
      });
  }

  function xss() {
    const checkbox = document.getElementById("xss-checkbox");
    const name = document.getElementById("xss-name");
    const email = document.getElementById("xss-email");
    const phonenumber = document.getElementById("xss-phonenumber");
    const password = document.getElementById("xss-password");

    window.location.href = `/send-mail?checkbox=${checkbox.checked}`;
  }